.link-item {
  display: block;
  width: 80px;
  height: 30px;
  background-color: var(--background-color);
  border-radius: var(--border-radius-md);
  font-size: var(--font-size-base);
  color: var(--font-color-light);
  user-select: none;
  text-decoration: none;
  line-height: 30px;
}
.link-item:hover {
  background-color: var(--info-color);
  color: var(--white);
}
.link-item-active {
  background-color: var(--info-color);
  color: var(--white);
}
